* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}
.boxbox {
  width: 100px;
  height: 100px;
  display: inline-block;
  border: 1px solid gray;
  border-radius: 5px;
}
