* {
  box-sizing: border-box;
}
@media all and (max-width: 767px) {
}
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;400;600;700&display=swap");
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}

.bold {
  font-weight: bold;
}
